In [1]:
from datetime import datetime as dt
import pandas as pd
import time
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
# url link from - https://www.redfin.com/news/data-center/
redfin_url_byCity = 'https://redfin-public-data.s3.us-west-2.amazonaws.com/redfin_market_tracker/city_market_tracker.tsv000.gz'


df = pd.read_csv(redfin_url_byCity, compression='gzip', sep='\t', on_bad_lines='warn')

print('Num of rows:', len(df))
print('Num of cols:', len(df.columns))
df.head()

Num of rows: 4600914
Num of cols: 58

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2015-01-01,2015-01-31,30,place,6,20085,f,"Urbandale, IA",Urbandale,Iowa,IA,Condo/Co-op,3,107000.0,-0.316294,-0.255652,239900.0,0.333519,0.158937,85.191083,-0.346778,-0.225134,141.649049,0.095112,0.191058,11,-0.266667,0.1,4.0,-0.428571,1.000000,11.0,0.571429,-0.312500,45.0,-0.042553,-0.423077,4.1,1.0,-3.7,178.0,13.0,42.0,0.955671,-0.029884,-0.020272,0.181818,-0.018182,-0.018182,NaN,NaN,NaN,0.000000,-0.142857,0.000000,"Des Moines, IA",19780,2022-11-20 14:36:43
1,2022-07-01,2022-07-31,30,place,6,30159,f,"Glenville, NY",Glenville,New York,NY,Condo/Co-op,3,164500.0,0.175000,-0.233100,249950.0,0.045816,0.063617,149.545455,0.175000,0.005140,157.132524,0.024397,0.161810,4,3.000000,1.0,1.0,-0.500000,NaN,2.0,0.000000,-0.333333,2.0,1.000000,-0.600000,0.5,-0.5,-2.0,6.0,-35.0,-45.0,0.998418,0.117915,-0.079981,0.750000,0.750000,0.250000,NaN,NaN,NaN,1.000000,0.500000,NaN,"Albany, NY",10580,2022-11-20 14:36:43
2,2020-07-01,2020-07-31,30,place,6,17472,f,"San Marcos, CA",San Marcos,California,CA,Multi-Family (2-4 Unit),4,519500.0,NaN,NaN,NaN,NaN,NaN,425.067016,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,1.013784,NaN,NaN,0.500000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,"San Diego, CA",41740,2022-11-20 14:36:43
3,2019-09-01,2019-09-30,30,place,6,20521,f,"Winthrop Harbor, IL",Winthrop Harbor,Illinois,IL,Single Family Residential,6,170000.0,-0.099338,0.030303,209650.0,0.198685,0.202122,113.247863,0.216134,0.052482,127.894558,0.223859,0.246058,11,0.833333,0.0,6.0,-0.250000,-0.454545,14.0,-0.066667,-0.066667,42.0,0.076923,0.400000,3.8,-2.7,1.1,50.0,4.0,16.0,0.981680,0.018084,-0.003343,0.363636,0.196970,0.090909,0.428571,0.172161,-0.004762,0.333333,0.083333,0.151515,"Lake County, IL",29404,2022-11-20 14:36:43
4,2021-05-01,2021-05-31,30,place,6,35528,f,"Waubeka, WI",Waubeka,Wisconsin,WI,Single Family Residential,6,195000.0,NaN,NaN,150000.0,NaN,NaN,121.875000,NaN,NaN,178.571429,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,258.0,NaN,NaN,0.975488,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI",33340,2022-11-20 14:36:43

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600914 entries, 0 to 4600913
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            object
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      int64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(41), int64(6), object(11)
memory usage: 2.0+ GB

In [4]:
df.isnull().sum()

period_begin                            0
period_end                              0
period_duration                         0
region_type                             0
region_type_id                          0
table_id                                0
is_seasonally_adjusted                  0
region                                  0
city                                    0
state                                   0
state_code                              0
property_type                           0
property_type_id                        0
median_sale_price                     399
median_sale_price_mom              762161
median_sale_price_yoy              844490
median_list_price                  685098
median_list_price_mom             1238791
median_list_price_yoy             1319902
median_ppsf                         59199
median_ppsf_mom                    812558
median_ppsf_yoy                    895383
median_list_ppsf                   702323
median_list_ppsf_mom              1255650
median_list_ppsf_yoy              1337177
homes_sold                              0
homes_sold_mom                     761795
homes_sold_yoy                     844076
pending_sales                      896493
pending_sales_mom                 1528100
pending_sales_yoy                 1642410
new_listings                       683587
new_listings_mom                  1237382
new_listings_yoy                  1318527
inventory                          270175
inventory_mom                      883399
inventory_yoy                      982457
months_of_supply                   270175
months_of_supply_mom               883399
months_of_supply_yoy               982457
median_dom                          76174
median_dom_mom                     832771
median_dom_yoy                     919505
avg_sale_to_list                    34048
avg_sale_to_list_mom               788095
avg_sale_to_list_yoy               867963
sold_above_list                         0
sold_above_list_mom                761795
sold_above_list_yoy                844076
price_drops                       2056924
price_drops_mom                   2456052
price_drops_yoy                   2638594
off_market_in_two_weeks            896493
off_market_in_two_weeks_mom       1528100
off_market_in_two_weeks_yoy       1642410
parent_metro_region                     0
parent_metro_region_metro_code          0
last_updated                            0
dtype: int64

In [5]:
cols = ['period_begin','period_end','period_duration', 'region_type', 'region_type_id', 'table_id',
'is_seasonally_adjusted', 'region', 'city', 'state', 'state_code', 'property_type', 'property_type_id',
'median_sale_price', 'median_list_price', 'median_ppsf', 'median_list_ppsf', 'homes_sold',
'inventory', 'months_of_supply', 'median_dom', 'avg_sale_to_list', 'sold_above_list',
'parent_metro_region', 'parent_metro_region_metro_code', 'last_updated']

In [6]:
df = df[cols]

In [7]:
df.head(3)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2015-01-01,2015-01-31,30,place,6,20085,f,"Urbandale, IA",Urbandale,Iowa,IA,Condo/Co-op,3,107000.0,239900.0,85.191083,141.649049,11,45.0,4.1,178.0,0.955671,0.181818,"Des Moines, IA",19780,2022-11-20 14:36:43
1,2022-07-01,2022-07-31,30,place,6,30159,f,"Glenville, NY",Glenville,New York,NY,Condo/Co-op,3,164500.0,249950.0,149.545455,157.132524,4,2.0,0.5,6.0,0.998418,0.750000,"Albany, NY",10580,2022-11-20 14:36:43
2,2020-07-01,2020-07-31,30,place,6,17472,f,"San Marcos, CA",San Marcos,California,CA,Multi-Family (2-4 Unit),4,519500.0,NaN,425.067016,NaN,2,NaN,NaN,50.0,1.013784,0.500000,"San Diego, CA",41740,2022-11-20 14:36:43

In [8]:
df.isnull().sum()

period_begin                           0
period_end                             0
period_duration                        0
region_type                            0
region_type_id                         0
table_id                               0
is_seasonally_adjusted                 0
region                                 0
city                                   0
state                                  0
state_code                             0
property_type                          0
property_type_id                       0
median_sale_price                    399
median_list_price                 685098
median_ppsf                        59199
median_list_ppsf                  702323
homes_sold                             0
inventory                         270175
months_of_supply                  270175
median_dom                         76174
avg_sale_to_list                   34048
sold_above_list                        0
parent_metro_region                    0
parent_metro_region_metro_code         0
last_updated                           0
dtype: int64

In [9]:
len(df)

4600914

In [10]:
df = df.dropna()

In [11]:
len(df)

3784141

In [12]:
df.isnull().sum()

period_begin                      0
period_end                        0
period_duration                   0
region_type                       0
region_type_id                    0
table_id                          0
is_seasonally_adjusted            0
region                            0
city                              0
state                             0
state_code                        0
property_type                     0
property_type_id                  0
median_sale_price                 0
median_list_price                 0
median_ppsf                       0
median_list_ppsf                  0
homes_sold                        0
inventory                         0
months_of_supply                  0
median_dom                        0
avg_sale_to_list                  0
sold_above_list                   0
parent_metro_region               0
parent_metro_region_metro_code    0
last_updated                      0
dtype: int64

In [13]:
#let's change the period_begin and period_end to date time object and extract years and month.
df['period_begin'] = pd.to_datetime(df['period_begin'])
df['period_end'] = pd.to_datetime(df['period_end'])
df["period_begin_in_years"] = df['period_begin'].dt.year
df["period_end_in_years"] = df['period_end'].dt.year

df["period_begin_in_months"] = df['period_begin'].dt.month
df["period_end_in_months"] = df['period_end'].dt.month

In [14]:
df.head(1)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2015-01-01,2015-01-31,30,place,6,20085,f,"Urbandale, IA",Urbandale,Iowa,IA,Condo/Co-op,3,107000.0,239900.0,85.191083,141.649049,11,45.0,4.1,178.0,0.955671,0.181818,"Des Moines, IA",19780,2022-11-20 14:36:43,2015,2015,1,1

In [15]:
#let's map the month number to their respective month name.
month_dict = {
    "period_begin_in_months": {
        1 : "Jan",
         2 :  "Feb",
         3: "Mar",
         4: "Apr",
         5: "May",
         6: "Jun",
         7: "Jul",
         8: "Aug",
         9: "Sep",
         10: "Oct",
         11: "Nov",
         12: "Dec",
    },
    "period_end_in_months": {
        1 : "Jan",
         2 :  "Feb",
         3: "Mar",
         4: "Apr",
         5: "May",
         6: "Jun",
         7: "Jul",
         8: "Aug",
         9: "Sep",
         10: "Oct",
         11: "Nov",
         12: "Dec"
    }}

df = df.replace(month_dict)

df.head(2)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2015-01-01,2015-01-31,30,place,6,20085,f,"Urbandale, IA",Urbandale,Iowa,IA,Condo/Co-op,3,107000.0,239900.0,85.191083,141.649049,11,45.0,4.1,178.0,0.955671,0.181818,"Des Moines, IA",19780,2022-11-20 14:36:43,2015,2015,Jan,Jan
1,2022-07-01,2022-07-31,30,place,6,30159,f,"Glenville, NY",Glenville,New York,NY,Condo/Co-op,3,164500.0,249950.0,149.545455,157.132524,4,2.0,0.5,6.0,0.998418,0.750000,"Albany, NY",10580,2022-11-20 14:36:43,2022,2022,Jul,Jul

In [16]:
#number of years in our dataset
sorted(df["period_begin_in_years"].unique())

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [17]:
# download file
df.to_csv('real_estate_w209_byCity.csv', index=False)